@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

header{
    padding: 10px 20px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.fa-arrow-down{
    margin-top: 40%;
    font-size: 50px;
}
.flex{
    display: flex;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    top: 0;
}

li{
    list-style: none;
    margin-left: 10px;
}

.contenuto{
    margin-top: 50px;
}

.format{
    width: 50%;
    margin: auto;
}

.center{
    width: 62%;
    margin: auto;
}

.container-jumbotron{
    background-color: #B4D0E7;
    

}

.jumbotron{
    padding: 70px 0;
}

.jumbotron >h1{
    font-size: 4em;
    
}

.testo{
    width: 585px;
    height: 305px;

}

.testo1{
    width: 306px;
    height: 240px;
}

.picture{
    width: 857px;
    height: 368px;
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.picture-1{
    width: 400px;
    height: 368px;
    background-image: url('../img/partner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.container-both{
  width: calc(100/2);
}

.bottoni{
    margin: 30px 0px;
}
.container-col{
}

.col-1{
    border: 1px solid black;
    width: 200px;
    height: 850px;
    text-align: left;

}

.th{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 0;
}

.menu-icon{
    padding: 20px 3px;
    

}

.fa-user, .fa-folder, .fa-share-nodes, .fa-check, .fa-building, .fa-users{
    margin-right: 8px;
}

.button-start{
    background-color: #0061FF;
    padding: 3px 5px;
    color: white;
    border: none;
}
.button-blu{
    background-color: #0061FF;
    color: white;
    border: none;
    padding: 10px 17px;
}

.linea {
    border: 1px solid lightgray;
    width: 25%;
}

.fa-check{
    color: blue;
}

.box {
    margin-top: 100px;
    border: 1px solid black;

}

.team{
    padding: 15px 20px;
}

.team >p{
    width: 68%;
}

.dropbox-business, .partner  {
    margin-top: 100px;
}

.rettangolo{
    border: 1px solid rgb(61, 60, 60);
    color: rgb(61, 60, 60);
    padding: 11px;
    text-align: center;
    width: 150px;
}

img{
    width: 100%;
}

.dropbox-business >section{
    margin-bottom: 50px;
}

.dropbox-business >h2{
    margin-bottom: 50px;
}